@{
    ViewData["Title"] = "Thong Tin Sinh Vien";
}
<div class="alert alert-info">
<h1>@ViewData["Title"]</h1>
<hr/>
<p>msv 23210900022</p>
<p>ho va ten Duong Chi Du</p>
<p>email duongchidu30072005@gmail.com </p>
<p>sdt <a href="tel:0465184434">0365184434</a></p>
<p>lop K23CNT2</p>
</div>

