@{

    ViewData["Title"] = "Thông tin sinh viên";

}
<h1>@ViewData["Title"]</h1>

<p>Mã sinh viên: 230010900022</p>
<p>Họ và tên: Duong Chi Du</p>
<p>Email: duongchidu30072005@gmail.com</p>
<p>Ngày sinh: 30/07/2005</p>
<p>Lớp: K23CNT2</p>
