@{
    ViewData["Title"] = "Thong Tin Sinh Vien";
}
<h1>@ViewData["Title"]</h1>

<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <hr/>
    <p>Ma Sinh Vien : 2310900022</p>
    <p>Ho Va Ten : Duong Chi Du</p>
    <p>Email : duongchidu30072005@gmail.com</p>
    <p>Sdt : 0365184434</p>
    <p>Lop : K23CNT2</p>
</div>
