@{
    ViewData["Title"] = "Thong Tin Sinh Vien";
}
<div class=" alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p>MSV 2310900022</p>
    <p>Ho Ten Duong Chi Du</p>
    <p>Email duongchidu30072005@gmail.com</p>
    <p>sdt 0365184434</p>
    <p>Lop K23CNT2</p>
</div>
